.auth-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;

  background-color: var(--color-background);
  max-width: var(--auth-max-width);
  gap: var(--gap-md);
}
