:root {
  text-align: center;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

.container {
  margin: 0 auto;
  background-color: var(--color-background);
  width: 100%;
  max-width: var(--layout-max-width);
}

.wrapper {
  width: 100%;
}

button {
  border: none;
  display: flex;
  background: none;
}

.auth-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;

  background-color: var(--color-background);
  max-width: var(--auth-max-width);
  gap: var(--gap-md);
}
