:root {
  text-align: center;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

.container {
  margin: 0 auto;
  max-width: 600px;
  background-color: var(--color-background);
}

.wrapper {
  width: 100%;
}
