/*postCountGroup css*/
#likeCount:hover {
  cursor: pointer;
}

.post-count-group {
  display: flex;
  gap: var(--gap-mdn);
  justify-content: center;
  color: var(--color-text-metaData);
}

.post-count-group div {
  font-weight: var(--font-weight-regular);
}
.count-content {
  display: flex;
  gap: 7px;
  align-items: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}
.count-content div {
  display: flex;
  color: var(--color-text-metaData);
}
.count-content .count {
  /* min-width: 13px; */
}
