body {
  margin: 0;
  height: 100vh;

  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

html,
body {
  padding: 0;
  height: 100%;
}

:root {
  text-align: center;
  margin: 0 auto;
}
