/*BoardCard*/
.board-card {
  cursor: pointer;
  max-width: 1000px;
  /* background-color: #ff5858; */
  /* padding: var(--padding-card); */
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.board-card div {
  font-size: var(--font-size-content);
}
.card-background {
  min-width: 440px;
}

.card-wrapper {
  flex: 5;
  padding: 10px;
}

.card-img {
  background-color: var(--color-card-img);
  display: flex;
  /* aspect-ratio: 1; */
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 8px;
}

.card-content {
  color: var(--color-text-content);
}

.createdAt {
  font-size: var(--font-size-sm);
  display: flex;
}

/* 사용자 메타 */
.card-meta {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  text-align: center;
}
.card-meta-text {
  gap: 16px;
  display: flex;
}

.card-meta-text div {
  color: var(--color-text-metaData);
}

.card-title {
  display: flex;
  color: var(--color-text-title);
  font-size: var(--font-size-title) !important;
  font-weight: var(--font-weight-bold);
}
.log {
  display: flex;
  justify-content: end;
}
.card-inner div {
  text-align: start;
}
.card-inner {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 30px;
}
.log div div {
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: var(--font-weight-bold);
}
.createdAt {
  font-size: var(--font-size-content);
  color: var(--color-meta);
}
.author {
  display: flex;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-mtitle);
}
hr {
  color: var(--color-background);
}

.log {
  display: flex;
  justify-content: flex-end;
}
