.header-inner {
  margin: 0 auto;

  padding: 1rem 0;
  display: flex;
  width: 100%;
  max-width: var(--layout-max-width);
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 30px;
}

.header-menu button {
  font-size: var(--font-size-header);
  color: var(--color-text-header);
  font-weight: var(--font-weight-semiBold);
}
