button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
}
main .post-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
