button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
main .post-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

hr {
  color: var(--color-line);
  margin: 30px 0;
}
