body {
  margin: 0;
  height: 100vh;

  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

html,
body {
  padding: 0;
  height: 100%;
}

#root {
  text-align: center;
  margin: 0 auto;
  /* height: 100%; */
}

main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  height: 100%;
}

header {
  margin: 0 auto;
  width: 100%;
  z-index: 80;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);

  position: fixed;
  top: 0;
}

/* 흐릿한 border */
header::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  /* 투명 → 밝은색으로 번지는 느낌 */
  padding: 1px; /* border 두께 느낌 */
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );

  mask:                         /* 실제 테두리 형태만 남게 하는 핵심 */ linear-gradient(
        #000 0 0
      )
      content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude; /* content-box 부분은 제거하고 외곽만 남김 */

  filter: blur(8px); /* 가장자리 블러 적용 */

  pointer-events: none;
}
