:root {
  --font-family-base: "Pretendard", Arial, sans-serif;

  /*font size*/
  --font-size-header: 32px;
  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 24px;

  --font-size-xtitle: 26px;
  --font-size-title: 24px;
  --font-size-mtitle: 22px;
  --font-size-content: 16px;

  --font-size-action: 15px;
  --font-size-h4: 20px;
  --font-size-base: 18px;
  --font-size-lg: 20px;
  --font-size-xlg: 22px;
  --font-size-sm: 16px;
  --font-size-xsm: 14px;
  /* 폰크 굵기 */
  --font-weight-normal: 400;
  --font-weigth-md: 500;
  --font-weight-bold: 700;

  --line-height-base: 1.5;
}
