.user-meta {
  gap: 16px;
  display: flex;
  align-items: center;
}

.user-meta .author {
  color: var(--color-text-title);
}

.user-meta .createdAt {
    min-width: 125px;
  color: var(--color-text-metaData);
}
